[submodule "client/deql-ms-client"]
	path = client/deql-ms-client
	url = git@github.com:IAlexandr/deql-ms-client.git
[submodule "server/deql-ms-server"]
	path = server/deql-ms-server
	url = git@github.com:IAlexandr/deql-ms-server.git
